# Environment Files
.env

# Private Files
app/Config/database.php
public/
system/
writable/

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Visual Studio Code
.vscode/

# System Files
LICENSE
README.md
phpunit.xml.dist

# Other Files
/results/
/phpunit*.xml
/.phpunit.*.cache

# Public main.css to gitkeep
!public/
public/*
!public/themes/
public/themes/*
!public/themes/dist/
public/themes/dist/*
!public/themes/dist/css/
public/themes/dist/css/*
!public/themes/dist/css/main.css